.container{
  margin: auto;
  margin-top: 0.5em;
  width: 95%;
  flex-wrap: wrap;

 display: flex;
  .images-container{
    flex: 2;
    box-shadow: 0px 0px  5px 1px gray;
    margin-right: 1em;
    text-align: center;
    height: fit-content;
    label{
      border: none;
      margin: 0.4em;
      background-color: white;
    }
    input{
      display: none;
    }
  }
  .information-container{
    flex: 3;
    border: 1px solid black;
  }

}


//
//.btn {
//  display: inline-block;
//  padding: 13px 20px;
//  color: #fff;
//  text-decoration: none;
//  position: relative;
//  background: transparent;
//  border: 1px solid #e1e1e1;
//  font: 12px/1.2 "Oswald", sans-serif;
//  letter-spacing: 0.4em;
//  text-align: center;
//  text-indent: 2px;
//  text-transform: uppercase;
//  transition: color 0.1s linear 0.05s;
//
//  }

.mySlides{

  height: 18em;
  object-fit: cover;

  .fa-times{
    position: absolute;
  }
}

.w3-display-container{


  .slider-button{
    background-color: #6873A5;
    color: white;
    border: 1px solid white;
    margin: auto 0.5em;
   border-radius: 50%;
    transition: 0.3s ease;
    font-size: 1.1em;
    box-shadow: 0px 0px  5px 1px gray;
    &:hover{
      background-color: white!important;
      color: black;
      box-shadow: none;
    }
  &:focus{
    outline: none;
  }
  }

}
