.container{
  margin: auto;
  margin-top: 0.5em;


  .images-container{

    box-shadow: 0px 0px  5px 1px gray;

    text-align: center;
    height: fit-content;
    label{
      border: none;
      margin: 0.4em;
      background-color: white;
    }
    input{
      display: none;
    }
  }
  .information-container{
    border: 1px solid black;
    textarea{
      height: auto;
    }
  }

}


//
//.btn {
//  display: inline-block;
//  padding: 13px 20px;
//  color: #fff;
//  text-decoration: none;
//  position: relative;
//  background: transparent;
//  border: 1px solid #e1e1e1;
//  font: 12px/1.2 "Oswald", sans-serif;
//  letter-spacing: 0.4em;
//  text-align: center;
//  text-indent: 2px;
//  text-transform: uppercase;
//  transition: color 0.1s linear 0.05s;
//
//  }

.mySlides{

  height: 18em;
  img{
  height: 100%;
    object-fit: cover;
  }

  span{
    position: absolute;
    top: 0;right: 0;
    margin: 0.5em;
    font-size: 1.7em;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;
    transition: color 0.2s ease-out;
    &:hover {
      color: darkred;
    }
  }
}

.w3-display-container{


  .slider-button{
    background-color: #6873A5;
    color: white;
    border: 1px solid white;
    margin: auto 0.5em;
   border-radius: 50%;
    transition: 0.3s ease;
    font-size: 1.1em;
    box-shadow: 0px 0px  5px 1px gray;
    &:hover{
      background-color: white!important;
      color: black;
      box-shadow: none;
    }
  &:focus{
    outline: none;
  }
  }

}
