body{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.museumImage-holder{

  background-color: white;
  margin-top: 2em;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  .larger-image{
    position: relative;
    padding-top: 47.5%;
    width: 60%;
    img{
      position: absolute;
      top: 0; left: 0;right: 0; bottom: 0;
      width: 100%;
    }
  }
  .small-images-container{
    display: block;
    width: 25%;
    .small-image{
      position: relative;
      padding-top: 0%;

      img{
        top: 0; left: 0;right: 0; bottom: 0;
        width: 100%;
        width: 100%;
      }
    }
  }
}

.white-container {
  background-color: white;
  width: 100%;
  padding: 0.2rem;
}
.text{
  background-color: white;
  width: 64em;
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
  h1{
    margin: auto;
    text-align: center;
    font-size: 5em;
  }
  h3{
    text-align: left;
    border-left: 5px solid saddlebrown;
    padding-left: 0.4em;
    font-style: italic;
  }
}

.tickets-wrapper {
  text-align: center;
  .info{
    color: white;
  }
  hr{
    border: 4px solid white;
    background-color: white;
  }
  background-color: rgba(0,0,0,0.7);
}

.tickets-container{

  padding: 1rem;
  display: flex;
  justify-content: space-around;
  .ticket{
    background-color: white;
    width: auto;
    height: auto;
    border: 2px solid black;
    text-align: center;
    div{
      padding: 1rem;
    }
    .hour{

      background-color: white;
      color: black;
      border-bottom: 2px solid gray;
    }
    .counter{
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;
    }
   .btn-holder{
     background-color: #05a440;
    cursor: pointer;

     button{
       background-color: inherit;
       color: inherit;
     }
     &:hover{

       background-color: #014a01;
       color: white;
       button{
         background-color: inherit;
         color: inherit;
       }
     }

   }

  }

}

.location-container{

  .location {
    max-width: 100%;
    text-align: center;
    div{
      position: relative;
      width: 80%;
      padding-top: 56.25%;
      margin: auto;
      iframe{
      position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}