@import '../../../01-settings/settings-colors';
.c-tourOperator-museum-feedback-form{
    width: 80%;
    margin: auto;
    &__textarea{
        width: 100%;
        padding: 1em;
        height: 18em;
        margin: auto;
        border-radius: 2px;
        overflow: hidden;
    }
    &__rating{
        display: inline;
        width: 19%;
        border: 1px solid black;
        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 2px;
        overflow: hidden;
    }
    &__sendBtn{

        display: inline;
        width: 80%;
        background-color: $primary-color;
        color: white;
        border-radius: 2px;
        overflow: hidden;
    }
}