.c-schedules-card{
    width: 100%;
    padding: 2rem;
     &__day{
         padding: 0;
     }
    hr{
        background-color: #C1C2BE;
        border: 0.1em solid #C1C2BE;
        width: 15%;
        margin-left: 0;
    }

    &__schedule {
        margin: 0;
        height: 11em;
        text-align: center;
        padding: 0;
        border: 1px solid #7a7878;

        &__hour,  &__max-capacity, &__price{
            padding: 0.4em;
        }
        &__delete {
            position: absolute;
            left:0;
            right: 0;
            bottom: 0;
            i{
                color:white;
            }
        }
    }
}