@import '../01-settings/settings-colors';
.c-tourOperator-museumPage-museumInformation{
  &__content{
    background-color: white;
    width: 100%;
    max-width: 64em;
    margin: auto ;
    text-align: center;
    margin-bottom: 2em;
    &__museumName{
      font-size: 3em;

    }
    &__museumAdditionalInformation{
      text-align: left;
      border-left: 5px solid $primary-color;
      padding-left: 0.4em;
      font-style: italic;
    }
  }

}