@import "../01-settings/settings-colors";
@import "../02-tools/tools-breakpoints";
.c-bought-ticket{

  border: 2px solid $primary-color;
  margin: auto;
  padding: 0.5em;
  border-radius: 15px;
  width: 100%;
  transition: 0.2s box-shadow ease-in ;

  &__information{
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: space-around;
  }
  &__profile{

  }
  &__image{
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
  }
  &__text{
    margin: 0.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }



  &:hover{
    box-shadow: 0px 0px 8px 0px #272a4f;
  }

  @include for-phone-only{
    &__information, &__text{
      margin:0 0.7em;
      display: block;
      text-align: center;
    }
  }

}
