.tickets-container {
  margin: 2em auto;
  width: 95%;
  border: 1px solid #e6e6e6;
  background: #fff;
  border-radius: 2px;
  //box-shadow: 0px 0px 20px 2px gray;

  padding: 1rem;

  .tickets-wrapper{
    flex: 1;

    .ticket-container{
        flex: 0 1 25%;
    }
  }
}


.top-museum-container{
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
}
.text{
  flex: 0 0 100%;
  text-align: center;
  margin: 0.3em 0 ;

}
