{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/museum/homePage/homePageStyle.css") }}">
    <script src="{{ asset("js/museum/homePage/slideshow.js") }}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
{% endblock %}

{% block body %}


    <div class="container">
        <div class="images-container">
            {% if images | length == 0%}
             <div class="empty">
                 <p>Нямате снимки</p>
                 <label for="addImage"><i class="fa fa-plus"></i></label>
                 <input type="file" id="addImage">
             </div>
                {% else %}
                    <div class="w3-content w3-display-container">
                        <img class="mySlides" src="img_snowtops.jpg" style="width:100%">
                        <img class="mySlides" src="img_lights.jpg" style="width:100%">
                        <img class="mySlides" src="img_mountains.jpg" style="width:100%">
                        <img class="mySlides" src="img_forest.jpg" style="width:100%">

                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>

            {% endif %}


        </div>
        <div class="information-container">


        </div>


    </div>


    <div class="container">


    </div>



{%  endblock %}