<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="{{asset("css/components/footer.css")}}" rel="stylesheet">
        <link href="{{asset("css/components/navbarStyle.css")}}" rel="stylesheet">
        <link href="{{asset("css/all.css")}}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

       <script src="https://kit.fontawesome.com/58cf8ffc69.js" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar large-navbar navbar-expand-lg  navbar-light bg-white py-3 shadow-sm homePage-start-nav" id="navbar">
        <div class="container mx-auto col-12  p-0 row">

            <a href="" class="justify-content-center  demo-logo-text"><h4>Museum`Booking</h4></a>
            <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
                <div class="nav-toggle-button-container" onclick="changeToggleMenuButton(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </button>
            <div id="navbarNavDropdown" class="collapse navbar-collapse " >
                <ul class="nav navbar-nav menu"  id="menu">
                    <li><a href="">Home</a></li>
                    <li class="dropdown"><a href="">Schedule </a></li>
                </ul>
            </div>
        </div>
    </nav>

        {% block body %}{% endblock %}


    <footer class="footer-section">
        <div class="container col-12">
            <div class="footer-cta pt-5 col-12">

            </div>
            <div class="footer-content pt-5 pb-5 col-12 ">
                <div class="row col-12">
                    <div class="col-xl-6 col-lg-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <h2>MuseumBooking</h2>
                            </div>
                            <div class="footer-text">
                                <p>You want to book a place in a top museum, you are in the right place</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 justify-content-center col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Schedule</a></li>
                                <li><a href="#">Stats</a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row col-12  ">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2020, All Right Reserved <a>Museum Booking</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Schedule</a></li>
                                <li><a href="#">Stats</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        window.onscroll = function() {myFunction()};
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
            console.log(22);
        }
        function changeToggleMenuButton(x) {
            x.classList.toggle("change");
        }
    </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
